{% extends "layout.html" %}
    
{% block content %}
<header>
  <a class="button icon-right" href="{{ url_for('add_building') }}">
    <span>New Building</span> <i class="material-icons">add</i></a>
</header>
    {% for building in buildings %}
      <h1><a href="/detail/{{ building.building_id }}"> {{ building.address }}</a></h1>
      <div class="edit">
        <p><a href="/entries/{{ building.building_id }}/edit">Edit Entry</a></p>
        <p><a href="/entries/{{ building.building_id }}/delete">Delete Entry</a></p>
        <p><a href="/entries/{{ building.building_id }}/new_expense">New Expense</a></p>
        <p><a href="/entries/{{ building.building_id }}/new_income">New Income</a></p>

    </div>
    {% endfor %}
{% endblock %}